In [9]:
import sqlite3

In [38]:
sqliteConnection = sqlite3.connect('Digitechofferings.db')
print('DB connected')

DB connected

In [39]:
cursor=sqliteConnection.cursor()

In [40]:
 # Write a query
query = 'select sqlite_version();'

#and execute it with cursor
cursor.execute(query)

In [41]:
result = cursor.fetchall()

In [15]:
print(f"The Version of SQLite is : {result}")

The Version of SQLite is : [('3.41.2',)]

In [42]:
 # Close the cursor
cursor.close()

In [43]:
sqliteConnection = sqlite3.connect('Chinook_Sqlite.sqlite')
#Make Cursor
cursor=sqliteConnection.cursor()

In [22]:
query = "SELECT Name FROM sqlite_master;"
cursor.execute(query)
cursor.fetchall()  # Output is all tables names

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('sqlite_autoindex_PlaylistTrack_1',),
 ('Track',),
 ('IFK_AlbumArtistId',),
 ('IFK_CustomerSupportRepId',),
 ('IFK_EmployeeReportsTo',),
 ('IFK_InvoiceCustomerId',),
 ('IFK_InvoiceLineInvoiceId',),
 ('IFK_InvoiceLineTrackId',),
 ('IFK_PlaylistTrackTrackId',),
 ('IFK_TrackAlbumId',),
 ('IFK_TrackGenreId',),
 ('IFK_TrackMediaTypeId',)]

In [23]:
#Metada of Album Table
query = """ PRAGMA table_info (Album); """
cursor.execute(query)
result =cursor.fetchall()
result

[(0, 'AlbumId', 'INTEGER', 1, None, 1),
 (1, 'Title', 'NVARCHAR(160)', 1, None, 0),
 (2, 'ArtistId', 'INTEGER', 1, None, 0)]

In [24]:
#Metada of Artist Table
query = """ PRAGMA table_info (Artist); """
cursor.execute(query)
result =cursor.fetchall()
result

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [25]:
#Metada of Playlist Table
query = """ PRAGMA table_info (Playlist); """
cursor.execute(query)
result =cursor.fetchall()
result

[(0, 'PlaylistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [44]:
query = """
SELECT 
    t.Name AS TrackName,
    SUM(il.Quantity) AS TotalSold,
    ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS TotalRevenue
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
GROUP BY t.Name
ORDER BY TotalRevenue DESC
LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

print("Top 10 Selling Tracks:")
for row in result:
    print(f"Track: {row[0]}, Sold: {row[1]}, Revenue: ${row[2]}")

Top 10 Selling Tracks:
Track: The Trooper, Sold: 5, Revenue: $4.95
Track: Walkabout, Sold: 2, Revenue: $3.98
Track: The Woman King, Sold: 2, Revenue: $3.98
Track: The Fix, Sold: 2, Revenue: $3.98
Track: Pilot, Sold: 2, Revenue: $3.98
Track: Phyllis's Wedding, Sold: 2, Revenue: $3.98
Track: How to Stop an Exploding Man, Sold: 2, Revenue: $3.98
Track: Hot Girl, Sold: 2, Revenue: $3.98
Track: Gay Witch Hunt, Sold: 2, Revenue: $3.98
Track: Branch Closing, Sold: 2, Revenue: $3.98

In [47]:
query = """
SELECT 
    i.BillingCountry AS Country,
    ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS TotalRevenue
FROM InvoiceLine il
JOIN Invoice i ON il.InvoiceId = i.InvoiceId
GROUP BY i.BillingCountry
ORDER BY TotalRevenue DESC;
"""

cursor.execute(query)
result = cursor.fetchall()

print(" Revenue by Country:")
for row in result:
    print(f"{row[0]} : ${row[1]}")

 Revenue by Country:
USA : $523.06
Canada : $303.96
France : $195.1
Brazil : $190.1
Germany : $156.48
United Kingdom : $112.86
Czech Republic : $90.24
Portugal : $77.24
India : $75.26
Chile : $46.62
Ireland : $45.62
Hungary : $45.62
Austria : $42.62
Finland : $41.62
Netherlands : $40.62
Norway : $39.62
Sweden : $38.62
Spain : $37.62
Poland : $37.62
Italy : $37.62
Denmark : $37.62
Belgium : $37.62
Australia : $37.62
Argentina : $37.62

In [45]:
query = """
SELECT 
    STRFTIME('%Y-%m', i.InvoiceDate) AS Month,
    ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS MonthlyRevenue
FROM InvoiceLine il
JOIN Invoice i ON il.InvoiceId = i.InvoiceId
GROUP BY Month
ORDER BY Month;
"""

cursor.execute(query)
result = cursor.fetchall()

print(" Monthly Revenue Performance:")
for row in result:
    print(f"{row[0]} : ${row[1]}")

 Monthly Revenue Performance:
2009-01 : $35.64
2009-02 : $37.62
2009-03 : $37.62
2009-04 : $37.62
2009-05 : $37.62
2009-06 : $37.62
2009-07 : $37.62
2009-08 : $37.62
2009-09 : $37.62
2009-10 : $37.62
2009-11 : $37.62
2009-12 : $37.62
2010-01 : $52.62
2010-02 : $46.62
2010-03 : $44.62
2010-04 : $37.62
2010-05 : $37.62
2010-06 : $37.62
2010-07 : $37.62
2010-08 : $37.62
2010-09 : $36.63
2010-10 : $37.62
2010-11 : $37.62
2010-12 : $37.62
2011-01 : $37.62
2011-02 : $37.62
2011-03 : $37.62
2011-04 : $51.62
2011-05 : $42.62
2011-06 : $50.62
2011-07 : $37.62
2011-08 : $37.62
2011-09 : $37.62
2011-10 : $37.62
2011-11 : $23.76
2011-12 : $37.62
2012-01 : $37.62
2012-02 : $37.62
2012-03 : $37.62
2012-04 : $37.62
2012-05 : $37.62
2012-06 : $37.62
2012-07 : $39.62
2012-08 : $47.62
2012-09 : $46.71
2012-10 : $42.62
2012-11 : $37.62
2012-12 : $37.62
2013-01 : $37.62
2013-02 : $27.72
2013-03 : $37.62
2013-04 : $33.66
2013-05 : $37.62
2013-06 : $37.62
2013-07 : $37.62
2013-08 : $37.62
2013-09 : $37.62
2013-10 : $37.62
2013-11 : $49.62
2013-12 : $38.62

In [46]:
query = """
SELECT 
    t.Name AS TrackName,
    ROUND(SUM(il.Quantity * il.UnitPrice), 2) AS Revenue,
    RANK() OVER (ORDER BY SUM(il.Quantity * il.UnitPrice) DESC) AS Rank
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
GROUP BY t.Name
ORDER BY Rank
LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

print("Top Selling Tracks (Ranked):")
for row in result:
    print(f"Rank {row[2]} | Track: {row[0]} | Revenue: ${row[1]}")

Top Selling Tracks (Ranked):
Rank 1 | Track: The Trooper | Revenue: $4.95
Rank 2 | Track: Walkabout | Revenue: $3.98
Rank 2 | Track: The Woman King | Revenue: $3.98
Rank 2 | Track: The Fix | Revenue: $3.98
Rank 2 | Track: Pilot | Revenue: $3.98
Rank 2 | Track: Phyllis's Wedding | Revenue: $3.98
Rank 2 | Track: How to Stop an Exploding Man | Revenue: $3.98
Rank 2 | Track: Hot Girl | Revenue: $3.98
Rank 2 | Track: Gay Witch Hunt | Revenue: $3.98
Rank 2 | Track: Branch Closing | Revenue: $3.98

In [48]:
cursor.close()
sqliteConnection.close()
print("\nConnection closed successfully.")

Connection closed successfully.