In [15]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [5]:
# Loading the dataset
group = pd.read_csv("group-marks.csv")

# exploration
print("First 5 rows:")
display(group.head())

print("\nLast 5 rows:")
display(group.tail())

print("\nInfo:")
group.info()

print("\nSummary statistics:")
display(group.describe())

First 5 rows:

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
0,MS01,SAADIA,female,group B,MORNING,28,2562,No Idea,72.0,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69,90.0,88
2,MS03,ARIFA,female,NaN,EVENING,34,3500,NaN,95.0,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47,57.0,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76,78.0,55

Last 5 rows:

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
45,MS46,TALHA,male,group B,EVENING,41,3000,65,54.0,57
46,MS47,SABA,female,group A,EVE,36,2500,55,65.0,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66,71.0,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57,74.0,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66,78.0,81

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rollno       50 non-null     object
 1   name         50 non-null     object
 2   gender       50 non-null     object
 3   group        47 non-null     object
 4   session      50 non-null     object
 5   age          50 non-null     int64
 6   scholarship  50 non-null     int64
 7   math         46 non-null     object
 8   english      47 non-null     float64
 9   urdu         50 non-null     int64
dtypes: float64(1), int64(3), object(6)
memory usage: 4.0+ KB

Summary statistics:

             age  scholarship    english      urdu
count  50.000000    50.000000  47.000000  50.00000
mean   34.360000  2875.540000  68.723404  65.28000
std     7.732149   513.405445  13.565785  14.87916
min    19.000000  2000.000000  42.000000  28.00000
25%    29.000000  2500.000000  57.500000  55.00000
50%    33.000000  3000.000000  71.000000  65.50000
75%    38.750000  3453.000000  76.500000  75.75000
max    54.000000  4000.000000  95.000000  93.00000

In [6]:
# Check missing values
print(group.isnull().sum())

rollno         0
name           0
gender         0
group          3
session        0
age            0
scholarship    0
math           4
english        3
urdu           0
dtype: int64

In [9]:
group['math'] = pd.to_numeric(group['math'], errors='coerce')
group

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
0,MS01,SAADIA,female,group B,MORNING,28,2562,NaN,72.0,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.0,90.0,88
2,MS03,ARIFA,female,NaN,EVENING,34,3500,NaN,95.0,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47.0,57.0,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.0,78.0,55
5,MS06,SAFIA,female,group B,AFT,23,3800,NaN,83.0,78
6,MS07,SARA,female,group B,EVENING,47,3000,88.0,95.0,92
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.0,43.0,39
8,MS09,KHAN,male,group D,MORNING,27,2500,64.0,NaN,67
9,MS10,HASEENA,female,group B,AFT,33,2800,38.0,60.0,50
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.0,54.0,52
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.0,52.0,43
12,MS13,MAHOOR,female,NaN,MOR,25,2345,65.0,81.0,73
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.0,72.0,70
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.0,53.0,58
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.0,75.0,78
16,MS17,NOFIL,male,group C,MOR,22,3500,88.0,89.0,86
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.0,NaN,28
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.0,42.0,46
19,MS20,NADRA,female,group C,MORNING,36,2200,54.0,58.0,45
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.0,69.0,63
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.0,75.0,70
22,MS23,RAUF,male,group D,MOR,31,2500,44.0,54.0,53
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,NaN,73.0,73
24,MS25,FATIMA,male,group D,AFT,33,2500,74.0,71.0,80
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.0,74.0,72
26,MS27,USAMA,male,group B,EVE,32,2500,69.0,54.0,55
27,MS28,NOOR,female,group C,MORNING,47,3000,67.0,69.0,75
28,MS29,UMAR,male,group C,AFT,44,4000,70.0,70.0,65
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.0,70.0,75
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.0,74.0,74
31,MS32,FATIMA,female,group B,EVE,19,3000,63.0,NaN,61
32,MS33,SHAISTA,female,NaN,MORNING,29,3500,56.0,72.0,65
33,MS34,ALI,male,group D,EVENING,34,3000,40.0,42.0,38
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.0,87.0,82
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.0,81.0,79
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.0,81.0,62
37,MS38,NASEEM,female,group D,MOR,26,2500,50.0,64.0,59
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.0,90.0,88
39,MS40,NABEEL,male,group B,AFT,33,3000,57.0,56.0,57
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.0,61.0,54
41,MS42,ZAIN,female,group C,EVE,27,3500,58.0,73.0,68
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.0,58.0,65
43,MS44,HASSAN,male,group B,AFT,31,2500,59.0,65.0,66
44,MS45,ZAINAB,female,group E,MOR,28,3500,NaN,56.0,54
45,MS46,TALHA,male,group B,EVENING,41,3000,65.0,54.0,57
46,MS47,SABA,female,group A,EVE,36,2500,55.0,65.0,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.0,71.0,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57.0,74.0,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.0,78.0,81

In [12]:
group['math'] = group['math'].fillna(group['math'].mean())
group['english'] = group['english'].fillna(group['english'].mean())
group['group'] = group['group'].fillna(group['group'].mode()[0])
group

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.000000,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.000000,88
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.000000,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.000000,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.000000,55
5,MS06,SAFIA,female,group B,AFT,23,3800,61.644444,83.000000,78
6,MS07,SARA,female,group B,EVENING,47,3000,88.000000,95.000000,92
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.000000,43.000000,39
8,MS09,KHAN,male,group D,MORNING,27,2500,64.000000,68.723404,67
9,MS10,HASEENA,female,group B,AFT,33,2800,38.000000,60.000000,50
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.000000,54.000000,52
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.000000,52.000000,43
12,MS13,MAHOOR,female,group C,MOR,25,2345,65.000000,81.000000,73
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.000000,72.000000,70
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.000000,53.000000,58
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.000000,75.000000,78
16,MS17,NOFIL,male,group C,MOR,22,3500,88.000000,89.000000,86
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.000000,68.723404,28
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.000000,42.000000,46
19,MS20,NADRA,female,group C,MORNING,36,2200,54.000000,58.000000,45
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.000000,69.000000,63
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.000000,75.000000,70
22,MS23,RAUF,male,group D,MOR,31,2500,44.000000,54.000000,53
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,61.644444,73.000000,73
24,MS25,FATIMA,male,group D,AFT,33,2500,74.000000,71.000000,80
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.000000,74.000000,72
26,MS27,USAMA,male,group B,EVE,32,2500,69.000000,54.000000,55
27,MS28,NOOR,female,group C,MORNING,47,3000,67.000000,69.000000,75
28,MS29,UMAR,male,group C,AFT,44,4000,70.000000,70.000000,65
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.000000,70.000000,75
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.000000,74.000000,74
31,MS32,FATIMA,female,group B,EVE,19,3000,63.000000,68.723404,61
32,MS33,SHAISTA,female,group C,MORNING,29,3500,56.000000,72.000000,65
33,MS34,ALI,male,group D,EVENING,34,3000,40.000000,42.000000,38
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.000000,87.000000,82
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.000000,81.000000,79
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.000000,81.000000,62
37,MS38,NASEEM,female,group D,MOR,26,2500,50.000000,64.000000,59
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.000000,90.000000,88
39,MS40,NABEEL,male,group B,AFT,33,3000,57.000000,56.000000,57
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.000000,61.000000,54
41,MS42,ZAIN,female,group C,EVE,27,3500,58.000000,73.000000,68
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.000000,58.000000,65
43,MS44,HASSAN,male,group B,AFT,31,2500,59.000000,65.000000,66
44,MS45,ZAINAB,female,group E,MOR,28,3500,61.644444,56.000000,54
45,MS46,TALHA,male,group B,EVENING,41,3000,65.000000,54.000000,57
46,MS47,SABA,female,group A,EVE,36,2500,55.000000,65.000000,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.000000,71.000000,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57.000000,74.000000,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.000000,78.000000,81

In [14]:
# Check missing values again
print(group.isnull().sum())

rollno         0
name           0
gender         0
group          0
session        0
age            0
scholarship    0
math           0
english        0
urdu           0
dtype: int64

In [16]:
group.drop_duplicates(inplace=True)

In [18]:
group['rollno'] = group['rollno'].astype(str)
group['age'] = group['age'].astype(int)
group['scholarship'] = group['scholarship'].astype(int)
group

,rollno,name,gender,group,session,age,scholarship,math,english,urdu
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.000000,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.000000,88
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.000000,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.000000,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.000000,55
5,MS06,SAFIA,female,group B,AFT,23,3800,61.644444,83.000000,78
6,MS07,SARA,female,group B,EVENING,47,3000,88.000000,95.000000,92
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.000000,43.000000,39
8,MS09,KHAN,male,group D,MORNING,27,2500,64.000000,68.723404,67
9,MS10,HASEENA,female,group B,AFT,33,2800,38.000000,60.000000,50
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.000000,54.000000,52
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.000000,52.000000,43
12,MS13,MAHOOR,female,group C,MOR,25,2345,65.000000,81.000000,73
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.000000,72.000000,70
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.000000,53.000000,58
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.000000,75.000000,78
16,MS17,NOFIL,male,group C,MOR,22,3500,88.000000,89.000000,86
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.000000,68.723404,28
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.000000,42.000000,46
19,MS20,NADRA,female,group C,MORNING,36,2200,54.000000,58.000000,45
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.000000,69.000000,63
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.000000,75.000000,70
22,MS23,RAUF,male,group D,MOR,31,2500,44.000000,54.000000,53
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,61.644444,73.000000,73
24,MS25,FATIMA,male,group D,AFT,33,2500,74.000000,71.000000,80
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.000000,74.000000,72
26,MS27,USAMA,male,group B,EVE,32,2500,69.000000,54.000000,55
27,MS28,NOOR,female,group C,MORNING,47,3000,67.000000,69.000000,75
28,MS29,UMAR,male,group C,AFT,44,4000,70.000000,70.000000,65
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.000000,70.000000,75
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.000000,74.000000,74
31,MS32,FATIMA,female,group B,EVE,19,3000,63.000000,68.723404,61
32,MS33,SHAISTA,female,group C,MORNING,29,3500,56.000000,72.000000,65
33,MS34,ALI,male,group D,EVENING,34,3000,40.000000,42.000000,38
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.000000,87.000000,82
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.000000,81.000000,79
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.000000,81.000000,62
37,MS38,NASEEM,female,group D,MOR,26,2500,50.000000,64.000000,59
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.000000,90.000000,88
39,MS40,NABEEL,male,group B,AFT,33,3000,57.000000,56.000000,57
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.000000,61.000000,54
41,MS42,ZAIN,female,group C,EVE,27,3500,58.000000,73.000000,68
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.000000,58.000000,65
43,MS44,HASSAN,male,group B,AFT,31,2500,59.000000,65.000000,66
44,MS45,ZAINAB,female,group E,MOR,28,3500,61.644444,56.000000,54
45,MS46,TALHA,male,group B,EVENING,41,3000,65.000000,54.000000,57
46,MS47,SABA,female,group A,EVE,36,2500,55.000000,65.000000,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.000000,71.000000,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57.000000,74.000000,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.000000,78.000000,81

In [21]:
group.rename(columns={
    'rollno': 'Student_ID',
    'name': 'Name',
    'gender': 'Gender',
    'group': 'Group_Name',
    'session': 'Session',
    'age': 'Age',
    'scholarship': 'Scholarship',
    'math': 'Math_Marks',
    'english': 'English_Marks',
    'urdu': 'Urdu_Marks'
}, inplace=True)
group

,Student_ID,Name,Gender,Group_Name,Session,Age,Scholarship,Math_Marks,English_Marks,Urdu_Marks
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.000000,74
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.000000,88
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.000000,93
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.000000,44
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.000000,55
5,MS06,SAFIA,female,group B,AFT,23,3800,61.644444,83.000000,78
6,MS07,SARA,female,group B,EVENING,47,3000,88.000000,95.000000,92
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.000000,43.000000,39
8,MS09,KHAN,male,group D,MORNING,27,2500,64.000000,68.723404,67
9,MS10,HASEENA,female,group B,AFT,33,2800,38.000000,60.000000,50
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.000000,54.000000,52
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.000000,52.000000,43
12,MS13,MAHOOR,female,group C,MOR,25,2345,65.000000,81.000000,73
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.000000,72.000000,70
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.000000,53.000000,58
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.000000,75.000000,78
16,MS17,NOFIL,male,group C,MOR,22,3500,88.000000,89.000000,86
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.000000,68.723404,28
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.000000,42.000000,46
19,MS20,NADRA,female,group C,MORNING,36,2200,54.000000,58.000000,45
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.000000,69.000000,63
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.000000,75.000000,70
22,MS23,RAUF,male,group D,MOR,31,2500,44.000000,54.000000,53
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,61.644444,73.000000,73
24,MS25,FATIMA,male,group D,AFT,33,2500,74.000000,71.000000,80
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.000000,74.000000,72
26,MS27,USAMA,male,group B,EVE,32,2500,69.000000,54.000000,55
27,MS28,NOOR,female,group C,MORNING,47,3000,67.000000,69.000000,75
28,MS29,UMAR,male,group C,AFT,44,4000,70.000000,70.000000,65
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.000000,70.000000,75
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.000000,74.000000,74
31,MS32,FATIMA,female,group B,EVE,19,3000,63.000000,68.723404,61
32,MS33,SHAISTA,female,group C,MORNING,29,3500,56.000000,72.000000,65
33,MS34,ALI,male,group D,EVENING,34,3000,40.000000,42.000000,38
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.000000,87.000000,82
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.000000,81.000000,79
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.000000,81.000000,62
37,MS38,NASEEM,female,group D,MOR,26,2500,50.000000,64.000000,59
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.000000,90.000000,88
39,MS40,NABEEL,male,group B,AFT,33,3000,57.000000,56.000000,57
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.000000,61.000000,54
41,MS42,ZAIN,female,group C,EVE,27,3500,58.000000,73.000000,68
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.000000,58.000000,65
43,MS44,HASSAN,male,group B,AFT,31,2500,59.000000,65.000000,66
44,MS45,ZAINAB,female,group E,MOR,28,3500,61.644444,56.000000,54
45,MS46,TALHA,male,group B,EVENING,41,3000,65.000000,54.000000,57
46,MS47,SABA,female,group A,EVE,36,2500,55.000000,65.000000,62
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.000000,71.000000,76
48,MS49,FATIMA,female,group D,MOR,40,2500,57.000000,74.000000,76
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.000000,78.000000,81

In [22]:
group['Total_Marks'] = group[['Math_Marks', 'English_Marks', 'Urdu_Marks']].sum(axis=1)
group['Average_Marks'] = group['Total_Marks'] / 3

In [23]:
def assign_grade(x):
    if x >= 80:
        return 'A'
    elif x >= 60:
        return 'B'
    elif x >= 40:
        return 'C'
    else:
        return 'F'

group['Grade'] = group['Average_Marks'].apply(assign_grade)

In [25]:
le = LabelEncoder()
group['Gender_Encoded'] = le.fit_transform(group['Gender'])
group['Group_Encoded'] = le.fit_transform(group['Group_Name'])
group['Grade_Encoded'] = le.fit_transform(group['Grade'])
group

,Student_ID,Name,Gender,Group_Name,Session,Age,Scholarship,Math_Marks,English_Marks,Urdu_Marks,Total_Marks,Average_Marks,Grade,Gender_Encoded,Group_Encoded,Grade_Encoded
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.000000,74,207.644444,69.214815,B,0,1,1
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.000000,88,247.000000,82.333333,A,0,2,0
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.000000,93,249.644444,83.214815,A,0,2,0
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.000000,44,148.000000,49.333333,C,0,0,2
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.000000,55,209.000000,69.666667,B,1,2,1
5,MS06,SAFIA,female,group B,AFT,23,3800,61.644444,83.000000,78,222.644444,74.214815,B,0,1,1
6,MS07,SARA,female,group B,EVENING,47,3000,88.000000,95.000000,92,275.000000,91.666667,A,0,1,0
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.000000,43.000000,39,122.000000,40.666667,C,1,1,2
8,MS09,KHAN,male,group D,MORNING,27,2500,64.000000,68.723404,67,199.723404,66.574468,B,1,3,1
9,MS10,HASEENA,female,group B,AFT,33,2800,38.000000,60.000000,50,148.000000,49.333333,C,0,1,2
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.000000,54.000000,52,164.000000,54.666667,C,1,2,2
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.000000,52.000000,43,135.000000,45.000000,C,1,3,2
12,MS13,MAHOOR,female,group C,MOR,25,2345,65.000000,81.000000,73,219.000000,73.000000,B,0,2,1
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.000000,72.000000,70,220.000000,73.333333,B,1,0,1
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.000000,53.000000,58,161.000000,53.666667,C,0,0,2
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.000000,75.000000,78,222.000000,74.000000,B,0,2,1
16,MS17,NOFIL,male,group C,MOR,22,3500,88.000000,89.000000,86,263.000000,87.666667,A,1,2,0
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.000000,68.723404,28,114.723404,38.241135,F,0,1,3
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.000000,42.000000,46,134.000000,44.666667,C,1,2,2
19,MS20,NADRA,female,group C,MORNING,36,2200,54.000000,58.000000,45,157.000000,52.333333,C,0,2,2
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.000000,69.000000,63,198.000000,66.000000,B,1,3,1
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.000000,75.000000,70,210.000000,70.000000,B,0,1,1
22,MS23,RAUF,male,group D,MOR,31,2500,44.000000,54.000000,53,151.000000,50.333333,C,1,3,2
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,61.644444,73.000000,73,207.644444,69.214815,B,0,2,1
24,MS25,FATIMA,male,group D,AFT,33,2500,74.000000,71.000000,80,225.000000,75.000000,B,1,3,1
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.000000,74.000000,72,219.000000,73.000000,B,1,0,1
26,MS27,USAMA,male,group B,EVE,32,2500,69.000000,54.000000,55,178.000000,59.333333,C,1,1,2
27,MS28,NOOR,female,group C,MORNING,47,3000,67.000000,69.000000,75,211.000000,70.333333,B,0,2,1
28,MS29,UMAR,male,group C,AFT,44,4000,70.000000,70.000000,65,205.000000,68.333333,B,1,2,1
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.000000,70.000000,75,207.000000,69.000000,B,0,3,1
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.000000,74.000000,74,217.000000,72.333333,B,0,3,1
31,MS32,FATIMA,female,group B,EVE,19,3000,63.000000,68.723404,61,192.723404,64.241135,B,0,1,1
32,MS33,SHAISTA,female,group C,MORNING,29,3500,56.000000,72.000000,65,193.000000,64.333333,B,0,2,1
33,MS34,ALI,male,group D,EVENING,34,3000,40.000000,42.000000,38,120.000000,40.000000,C,1,3,2
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.000000,87.000000,82,266.000000,88.666667,A,1,4,0
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.000000,81.000000,79,241.000000,80.333333,A,1,4,0
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.000000,81.000000,62,217.000000,72.333333,B,0,3,1
37,MS38,NASEEM,female,group D,MOR,26,2500,50.000000,64.000000,59,173.000000,57.666667,C,0,3,2
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.000000,90.000000,88,253.000000,84.333333,A,0,3,0
39,MS40,NABEEL,male,group B,AFT,33,3000,57.000000,56.000000,57,170.000000,56.666667,C,1,1,2
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.000000,61.000000,54,170.000000,56.666667,C,1,2,2
41,MS42,ZAIN,female,group C,EVE,27,3500,58.000000,73.000000,68,199.000000,66.333333,B,0,2,1
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.000000,58.000000,65,176.000000,58.666667,C,0,1,2
43,MS44,HASSAN,male,group B,AFT,31,2500,59.000000,65.000000,66,190.000000,63.333333,B,1,1,1
44,MS45,ZAINAB,female,group E,MOR,28,3500,61.644444,56.000000,54,171.644444,57.214815,C,0,4,2
45,MS46,TALHA,male,group B,EVENING,41,3000,65.000000,54.000000,57,176.000000,58.666667,C,1,1,2
46,MS47,SABA,female,group A,EVE,36,2500,55.000000,65.000000,62,182.000000,60.666667,B,0,0,1
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.000000,71.000000,76,213.000000,71.000000,B,0,2,1
48,MS49,FATIMA,female,group D,MOR,40,2500,57.000000,74.000000,76,207.000000,69.000000,B,0,3,1
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.000000,78.000000,81,225.000000,75.000000,B,1,2,1

In [27]:
scaler = MinMaxScaler()
group[['Scaled_Age', 'Scaled_Average_Marks']] = scaler.fit_transform(group[['Age', 'Average_Marks']])
group

,Student_ID,Name,Gender,Group_Name,Session,Age,Scholarship,Math_Marks,English_Marks,Urdu_Marks,Total_Marks,Average_Marks,Grade,Gender_Encoded,Group_Encoded,Grade_Encoded,Scaled_Age,Scaled_Average_Marks
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.000000,74,207.644444,69.214815,B,0,1,1,0.257143,0.579754
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.000000,88,247.000000,82.333333,A,0,2,0,0.400000,0.825302
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.000000,93,249.644444,83.214815,A,0,2,0,0.428571,0.841801
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.000000,44,148.000000,49.333333,C,0,0,2,0.714286,0.207620
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.000000,55,209.000000,69.666667,B,1,2,1,1.000000,0.588212
5,MS06,SAFIA,female,group B,AFT,23,3800,61.644444,83.000000,78,222.644444,74.214815,B,0,1,1,0.114286,0.673342
6,MS07,SARA,female,group B,EVENING,47,3000,88.000000,95.000000,92,275.000000,91.666667,A,0,1,0,0.800000,1.000000
7,MS08,ABDULLAH,male,group B,EVE,33,2000,40.000000,43.000000,39,122.000000,40.666667,C,1,1,2,0.400000,0.045400
8,MS09,KHAN,male,group D,MORNING,27,2500,64.000000,68.723404,67,199.723404,66.574468,B,1,3,1,0.228571,0.530333
9,MS10,HASEENA,female,group B,AFT,33,2800,38.000000,60.000000,50,148.000000,49.333333,C,0,1,2,0.400000,0.207620
10,MS11,MUSTJAB,male,group C,MOR,46,3000,58.000000,54.000000,52,164.000000,54.666667,C,1,2,2,0.771429,0.307447
11,MS12,ABRAR,male,group D,MORNING,53,3312,40.000000,52.000000,43,135.000000,45.000000,C,1,3,2,0.971429,0.126510
12,MS13,MAHOOR,female,group C,MOR,25,2345,65.000000,81.000000,73,219.000000,73.000000,B,0,2,1,0.171429,0.650604
13,MS14,USAMA,male,group A,AFTERNOON,26,2654,78.000000,72.000000,70,220.000000,73.333333,B,1,0,1,0.200000,0.656843
14,MS15,NAVAIRA,female,group A,AFT,25,2137,50.000000,53.000000,58,161.000000,53.666667,C,0,0,2,0.171429,0.288730
15,MS16,SAWAIRA,female,group C,EVENING,29,2567,69.000000,75.000000,78,222.000000,74.000000,B,0,2,1,0.285714,0.669322
16,MS17,NOFIL,male,group C,MOR,22,3500,88.000000,89.000000,86,263.000000,87.666667,A,1,2,0,0.085714,0.925129
17,MS18,SHUMAILA,female,group B,AFTERNOON,31,2500,18.000000,68.723404,28,114.723404,38.241135,F,0,1,3,0.342857,0.000000
18,MS19,ABUBAKAR,male,group C,AFT,33,3000,46.000000,42.000000,46,134.000000,44.666667,C,1,2,2,0.400000,0.120271
19,MS20,NADRA,female,group C,MORNING,36,2200,54.000000,58.000000,45,157.000000,52.333333,C,0,2,2,0.485714,0.263773
20,MS21,HASEEB,male,group D,AFTERNOON,34,3500,66.000000,69.000000,63,198.000000,66.000000,B,1,3,1,0.428571,0.519581
21,MS22,HOORIA,female,group B,EVENING,32,2000,65.000000,75.000000,70,210.000000,70.000000,B,0,1,1,0.371429,0.594451
22,MS23,RAUF,male,group D,MOR,31,2500,44.000000,54.000000,53,151.000000,50.333333,C,1,3,2,0.342857,0.226337
23,MS24,LAIBA,female,group C,AFTERNOON,37,3000,61.644444,73.000000,73,207.644444,69.214815,B,0,2,1,0.514286,0.579754
24,MS25,FATIMA,male,group D,AFT,33,2500,74.000000,71.000000,80,225.000000,75.000000,B,1,3,1,0.400000,0.688039
25,MS26,IBRAR,male,group A,EVENING,39,3500,73.000000,74.000000,72,219.000000,73.000000,B,1,0,1,0.571429,0.650604
26,MS27,USAMA,male,group B,EVE,32,2500,69.000000,54.000000,55,178.000000,59.333333,C,1,1,2,0.371429,0.394796
27,MS28,NOOR,female,group C,MORNING,47,3000,67.000000,69.000000,75,211.000000,70.333333,B,0,2,1,0.800000,0.600690
28,MS29,UMAR,male,group C,AFT,44,4000,70.000000,70.000000,65,205.000000,68.333333,B,1,2,1,0.714286,0.563255
29,MS30,ROSHAN,female,group D,MOR,42,3500,62.000000,70.000000,75,207.000000,69.000000,B,0,3,1,0.657143,0.575733
30,MS31,UNAIZA,female,group D,EVENING,41,2500,69.000000,74.000000,74,217.000000,72.333333,B,0,3,1,0.628571,0.638126
31,MS32,FATIMA,female,group B,EVE,19,3000,63.000000,68.723404,61,192.723404,64.241135,B,0,1,1,0.000000,0.486659
32,MS33,SHAISTA,female,group C,MORNING,29,3500,56.000000,72.000000,65,193.000000,64.333333,B,0,2,1,0.285714,0.488384
33,MS34,ALI,male,group D,EVENING,34,3000,40.000000,42.000000,38,120.000000,40.000000,C,1,3,2,0.428571,0.032922
34,MS35,ABDULLAH,male,group E,MORNING,45,2500,97.000000,87.000000,82,266.000000,88.666667,A,1,4,0,0.742857,0.943847
35,MS36,OSAMA,male,group E,AFTERNOON,31,3500,81.000000,81.000000,79,241.000000,80.333333,A,1,4,0,0.342857,0.787867
36,MS37,AMBREEN,female,group D,EVENING,28,3000,74.000000,81.000000,62,217.000000,72.333333,B,0,3,1,0.257143,0.638126
37,MS38,NASEEM,female,group D,MOR,26,2500,50.000000,64.000000,59,173.000000,57.666667,C,0,3,2,0.200000,0.363600
38,MS39,SAFIA,female,group D,AFTERNOON,36,3500,75.000000,90.000000,88,253.000000,84.333333,A,0,3,0,0.485714,0.862737
39,MS40,NABEEL,male,group B,AFT,33,3000,57.000000,56.000000,57,170.000000,56.666667,C,1,1,2,0.400000,0.344883
40,MS41,SIKANDER,male,group C,EVENING,35,2500,55.000000,61.000000,54,170.000000,56.666667,C,1,2,2,0.457143,0.344883
41,MS42,ZAIN,female,group C,EVE,27,3500,58.000000,73.000000,68,199.000000,66.333333,B,0,2,1,0.228571,0.525820
42,MS43,AYESHA,female,group B,MORNING,38,3000,53.000000,58.000000,65,176.000000,58.666667,C,0,1,2,0.542857,0.382318
43,MS44,HASSAN,male,group B,AFT,31,2500,59.000000,65.000000,66,190.000000,63.333333,B,1,1,1,0.342857,0.469667
44,MS45,ZAINAB,female,group E,MOR,28,3500,61.644444,56.000000,54,171.644444,57.214815,C,0,4,2,0.257143,0.355143
45,MS46,TALHA,male,group B,EVENING,41,3000,65.000000,54.000000,57,176.000000,58.666667,C,1,1,2,0.628571,0.382318
46,MS47,SABA,female,group A,EVE,36,2500,55.000000,65.000000,62,182.000000,60.666667,B,0,0,1,0.485714,0.419753
47,MS48,RAFIA,female,group C,MORNING,30,3500,66.000000,71.000000,76,213.000000,71.000000,B,0,2,1,0.314286,0.613169
48,MS49,FATIMA,female,group D,MOR,40,2500,57.000000,74.000000,76,207.000000,69.000000,B,0,3,1,0.600000,0.575733
49,MS50,KAKAMANNA,male,group C,AFTERNOON,37,3000,66.000000,78.000000,81,225.000000,75.000000,B,1,2,1,0.514286,0.688039

In [28]:
print("Cleaned Dataset Info:\n")
print(group.info())
print("\n Sample of Cleaned Dataset:\n")
display(group.head())

Cleaned Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Student_ID            50 non-null     object
 1   Name                  50 non-null     object
 2   Gender                50 non-null     object
 3   Group_Name            50 non-null     object
 4   Session               50 non-null     object
 5   Age                   50 non-null     int64
 6   Scholarship           50 non-null     int64
 7   Math_Marks            50 non-null     float64
 8   English_Marks         50 non-null     float64
 9   Urdu_Marks            50 non-null     int64
 10  Total_Marks           50 non-null     float64
 11  Average_Marks         50 non-null     float64
 12  Grade                 50 non-null     object
 13  Gender_Encoded        50 non-null     int64
 14  Group_Encoded         50 non-null     int64
 15  Grade_Encoded         50 non-null     int64
 16  Scaled_Age            50 non-null     float64
 17  Scaled_Average_Marks  50 non-null     float64
dtypes: float64(6), int64(6), object(6)
memory usage: 7.2+ KB
None

 Sample of Cleaned Dataset:

,Student_ID,Name,Gender,Group_Name,Session,Age,Scholarship,Math_Marks,English_Marks,Urdu_Marks,Total_Marks,Average_Marks,Grade,Gender_Encoded,Group_Encoded,Grade_Encoded,Scaled_Age,Scaled_Average_Marks
0,MS01,SAADIA,female,group B,MORNING,28,2562,61.644444,72.0,74,207.644444,69.214815,B,0,1,1,0.257143,0.579754
1,MS02,JUMAIMA,female,group C,AFTERNOON,33,2800,69.000000,90.0,88,247.000000,82.333333,A,0,2,0,0.400000,0.825302
2,MS03,ARIFA,female,group C,EVENING,34,3500,61.644444,95.0,93,249.644444,83.214815,A,0,2,0,0.428571,0.841801
3,MS04,SAADIA,female,group A,MOR,44,2000,47.000000,57.0,44,148.000000,49.333333,C,0,0,2,0.714286,0.207620
4,MS05,DANISH,male,group C,AFTERNOON,54,2100,76.000000,78.0,55,209.000000,69.666667,B,1,2,1,1.000000,0.588212