In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler

pd.set_option('display.max_columns', 100)

df = pd.read_excel("Book1.xlsx")

print(df.head())

print("rows, columns:", df.shape)
print("columns in dataset:", df.columns)
print("missing values:", df.isnull().sum())
print("duplicate rows:", df.duplicated().sum())

df = df.drop_duplicates()
df = df.dropna(how='all')

if 'payment_value' in df.columns:
    df['payment_value'] = df['payment_value'].fillna(df['payment_value'].median())

categorical_cols = ["payment_type", "product_category_name", "customer_state"]
encoder = LabelEncoder()

for col in categorical_cols:
    if col in df.columns:
        df[col] = encoder.fit_transform(df[col].astype(str))

print("encoding completed!")
print(df.head())

scaler = StandardScaler()
numeric_cols = ["payment_value", "product_weight_g", "product_price"]

for col in numeric_cols:
    if col in df.columns:
        df[col] = scaler.fit_transform(df[[col]])

print("scaling completed!")

plt.style.use('seaborn-v0_8')

if "product_category_name" in df.columns:
    plt.figure(figsize=(12,5))
    df["product_category_name"].value_counts().head(10).plot(kind='bar')
    plt.title("top 10 product categories")
    plt.xlabel("Category")
    plt.ylabel("Count")
    plt.show()

if 'month' in df.columns:
    monthly = df.groupby("month")['payment_value'].sum()
    plt.figure(figsize=(14,5))
    monthly.plot(kind='line', marker='o')
    plt.title("monthly sales trend")
    plt.xlabel("month")
    plt.ylabel("total Sales")
    plt.xticks(rotation=45)
    plt.show()



df.to_csv("Book1_final_cleaned_dataset.csv", index=False)
print("final_cleaned_dataset.csv")

print("total cows:", df.shape[0])
print("total columns:", df.shape[1])
print("null values remaining:", df.isnull().sum().sum())

   Unnamed: 0            Unnamed: 1     Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0         NaN                   NaN            NaN        NaN        NaN
1         NaN  Sum of payment_value  Column Labels        NaN        NaN
2         NaN            Row Labels        2016-09    2016-10    2016-12
3         NaN                    AC            NaN        NaN        NaN
4         NaN                    AL            NaN      129.9        NaN

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0        NaN        NaN        NaN        NaN        NaN         NaN
1        NaN        NaN        NaN        NaN        NaN         NaN
2    2017-01    2017-02    2017-03    2017-04    2017-05     2017-06
3     723.15      597.4     530.18    1351.51    2382.64      510.27
4     454.36    2967.87     1421.5    5375.17    5729.73     1276.02

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2     2017-07     2017-08     2017-09     2017-10     2017-11     2017-12
3       794.4      765.83     2029.23      958.17      945.16     1409.58
4     3029.69      9675.5     5191.65     6341.59     7441.47     3390.12

  Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2     2018-01     2018-02     2018-03     2018-04     2018-05     2018-06
3     1157.89      299.22      164.67      588.17     1501.42      597.26
4      6485.9     5680.85     8184.59     7201.21      4393.1     4852.93

  Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26  Unnamed: 27
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2     2018-07     2018-08     2018-09     2018-10  Grand Total
3     1769.95      604.52         NaN         NaN     19680.62
4      4825.2     2913.71         NaN         NaN     96962.06
rows, columns: (31, 28)
columns in dataset: Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')
missing values: Unnamed: 0     31
Unnamed: 1      1
Unnamed: 2     25
Unnamed: 3      8
Unnamed: 4     28
Unnamed: 5      5
Unnamed: 6      2
Unnamed: 7      2
Unnamed: 8      3
Unnamed: 9      2
Unnamed: 10     2
Unnamed: 11     2
Unnamed: 12     3
Unnamed: 13     2
Unnamed: 14     2
Unnamed: 15     2
Unnamed: 16     3
Unnamed: 17     2
Unnamed: 18     2
Unnamed: 19     2
Unnamed: 20     2
Unnamed: 21     2
Unnamed: 22     2
Unnamed: 23     2
Unnamed: 24     3
Unnamed: 25    25
Unnamed: 26    26
Unnamed: 27     2
dtype: int64
duplicate rows: 0
encoding completed!
   Unnamed: 0            Unnamed: 1     Unnamed: 2 Unnamed: 3 Unnamed: 4  \
1         NaN  Sum of payment_value  Column Labels        NaN        NaN
2         NaN            Row Labels        2016-09    2016-10    2016-12
3         NaN                    AC            NaN        NaN        NaN
4         NaN                    AL            NaN      129.9        NaN
5         NaN                    AM            NaN        NaN        NaN

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
1        NaN        NaN        NaN        NaN        NaN         NaN
2    2017-01    2017-02    2017-03    2017-04    2017-05     2017-06
3     723.15      597.4     530.18    1351.51    2382.64      510.27
4     454.36    2967.87     1421.5    5375.17    5729.73     1276.02
5        NaN    1122.54     793.39    1176.23    1442.17      204.84

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
1         NaN         NaN         NaN         NaN         NaN         NaN
2     2017-07     2017-08     2017-09     2017-10     2017-11     2017-12
3       794.4      765.83     2029.23      958.17      945.16     1409.58
4     3029.69      9675.5     5191.65     6341.59     7441.47     3390.12
5       951.4     1483.41     1518.44      164.56     3001.01     1173.62

  Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22  \
1         NaN         NaN         NaN         NaN         NaN         NaN
2     2018-01     2018-02     2018-03     2018-04     2018-05     2018-06
3     1157.89      299.22      164.67      588.17     1501.42      597.26
4      6485.9     5680.85     8184.59     7201.21      4393.1     4852.93
5     3433.46      2486.6     1607.24      893.49     2192.48     1211.14

  Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26  Unnamed: 27
1         NaN         NaN         NaN         NaN          NaN
2     2018-07     2018-08     2018-09     2018-10  Grand Total
3     1769.95      604.52         NaN         NaN     19680.62
4      4825.2     2913.71         NaN         NaN     96962.06
5     2598.41       512.5         NaN         NaN     27966.93
scaling completed!
final_cleaned_dataset.csv
total cows: 30
total columns: 28
null values remaining: 165